body {
    background-color: rgb(191, 151, 66) !important;
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(230, 179, 37) !important;
}

* {
    padding: 0px !important;
    font-family: Helvetica !important;
}

.title {
    font-family: autumn_flowersregular;
}

.header {
    width: 100%;
    display: flex;
    background-color: rgb(97, 72, 28);
    /* height: 6.510416666666667vw; */
    border-bottom: 2px solid rgb(230, 179, 37);
    text-align: left;
    align-items: left;
    justify-content: left;
}

.dropdown {
    display: none;
}


.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 4.2vw;
    gap: 1px;
}

.buttons button{
    width: 4.557291666666667vw;
    height: 1.953125vw;
    background-color:  rgb(97, 72, 28);
    color: rgb(230, 179, 37);
    border: 2px rgb(230, 179, 37) solid;
    display: inline-block;
    font-size: small;
    font-family: Helvetica;
    cursor: pointer;
    font-size: 0.8463541666666666vw;
}

.buttons button:hover{
    background-color: rgb(230, 82, 37);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.main {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;

    width: 65vw;

    flex-direction: column;
    column-count: 1;

    background-color: rgb(164, 126, 59);
    border: 2px solid rgb(230, 179, 37);
    border-radius: 15px;
    padding: 30px;
}

@media screen and (max-width: 820px) {
    .container {
        flex-direction: column;
        column-count: 1;
        height: 50vw;
        
    }
}

@media screen and (max-width: 820px) { 
    .buttons {
        display: none;
    }

    .dropdown {
        display: flex;
    }


}

.input {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-count: 2;
}

.input input[type=text], select {
    background-color: rgb(97, 72, 28);
    color: rgb(230, 179, 37);
    font-size: 0.8vw;
    width: 19.5vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  box-sizing: border-box;
}
  

  

.input input[type=pwd], select {
    background-color: rgb(97, 72, 28);
    color: rgb(230, 179, 37);
    font-size: 0.8vw;
    width: 19.5vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  box-sizing: border-box;
}

.input input[type=id], select {
    background-color: rgb(97, 72, 28);
    color: rgb(230, 179, 37);
    font-size: 0.8vw;
    width: 19.5vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  box-sizing: border-box;
}

.input input[type=email], select {
    background-color: rgb(97, 72, 28);
    color: rgb(230, 179, 37);
    font-size: 0.8vw;
    width: 19.5vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  box-sizing: border-box;
}


.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit button{
    width: 100px;
    height: 50px;
    background-color: rgb(191, 151, 66);
    color: rgb(230, 179, 37);
    border: 2px rgb(230, 179, 37) solid;
    display: inline-block;
    font-size: small;
    font-family: Helvetica;
    cursor: pointer;
}

.submit button:hover{
    background-color: rgb(97, 72, 28);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.contain {
    position: fixed;
    bottom:0px;
    right: 0px;
    left: 0px;
    display: flex;
    background-color: rgb(97, 72, 28);
    height: 5.859375vw;
    border-top: 2px solid rgb(230, 179, 37);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: auto;
}

.contain h5{
    font-size: 1vw;
}

@media screen and (max-width: 900px) {
    .input {
        font-size: xx-small;
        height: 460px;
    }
}

